<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myvelux.myvelux">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".RoomActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClientActivity" />
        </activity>
        <activity android:name=".ActionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RoomActivity" />
        </activity>
        <activity android:name=".RangeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActionActivity" />
        </activity>
        <activity android:name=".TypeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RangeActivity" />
        </activity>
        <activity android:name=".VersionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TypeActivity" />
        </activity>
        <activity android:name=".SizeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VersionActivity" />
        </activity>
        <activity android:name=".FittingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SizeActivity" />
        </activity>
        <activity android:name=".FinalChoiceActivity"></activity>
    </application>

</manifest>